* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: norse-bold;
    src: url("./font/Norse-Bold.otf");
}

body {
    display: flex;
}

.side-container {
    background: url("./images/side-bg.jpg") no-repeat;
    /*https://unsplash.com/photos/green-mountain-with-clouds-xfYMLWgI8ww*/
    background-size: cover;
    width: 40vw;
    height: 100vh;
}

.logo-heading {
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    top: 35vh;

    display: flex;
    justify-content: center;
}

.logo-heading h1 {
    font-family: norse-bold, sans-serif;
    color: white;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-heading img {
    width: 200px;
    height: 200px;
}

.footer {
    position: relative;
    top: 75vh;
}

.footer p {
    color: white;
    text-align: center;
    font-family: norse-bold, sans-serif;
    font-size: 20px;
}

.footer a {
    color: inherit;
}


.form-container {
    width: 60vw;
    height: 100vh;
    padding: 3rem;
}

.top-text {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 100px;
}


.form-container p {
    font-family: "Roboto", sans-serif;

    font-size: 32px;
    font-weight: bold;


}

form {
    margin: 70px -3rem 0 -3rem;
    padding: 3rem;
}

.userInput {
    margin: 0px -2.5rem 0 -2.5rem;
    padding: 3rem;

    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

label {
    display: block;
    font-family: "Roboto", sans-serif;
    color: lightgray;
    font-weight: bold;
}

.rows {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 20px;
}

input {
    width: 350px;
    height: 45px;
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    display: inline-block;
    border: 1px solid #E5E7EB;
    border-radius: 6px;
}

button {
    display: block;
    background-color: #596D48;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #596D48;
    margin-top: 35px;
    box-shadow: rgba(0, 0, 0, 0.4) 1.95px 1.95px 10px;
}

button:hover {
    transform: 1.1;
}

button:active {
    transform: translateY(2px);
}

input:focus {
    border-color: #0000FF;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

input:invalid {
    border-color: red;
}

.bot-text {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-top: -20px;
}

.bot-text a {
    color: #596D48;
    ;
}

.italic {
    font-style: italic;
}